@import url(https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap);

body{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 95vw;
    background-color: hsl(222, 26%, 31%);
    color: white;
    align-items: center;
    justify-content: center;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 600px;
    font-size: 30px;
    gap: 20px;
}

.radioButtons{
    display: flex;
    position: absolute;
    top: 2%;
    width: 100px;
    height: 40px;
    background-color: hsl(223, 31%, 20%);
    flex-direction: row;
    border-radius: 30px;
    justify-content: space-between;
}

.buttonRadio{
    width: 50px;
    height: 40px;
    accent-color: hsl(6, 63%, 50%);
    top: 6%;
    margin-top: -0.5px;
}

.displayContent{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: flex-end;
    font-size: 80px;
    background-color: hsl(268, 71%, 12%);
    width: 560px;
    height: 180px;
    border-radius: 15px;
}

.calculator{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.keypad{
    display: flex;
    background-color: hsl(223, 31%, 20%);
    color: black;
    width: 570px;
    height: 400px;
    border-radius: 15px;
    padding: 15px;
    flex-direction: column;
}

.attribution{
    align-self: flex-start;
    justify-self: flex-end;
    position: absolute;
    top: 95%;
}

.keypadRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.digitBtn{
    padding: 10px;
    width: 120px;
    height: 70px;
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    color: hsl(223, 31%, 20%);
    box-shadow: 0px 8px 6px hsl(28, 16%, 65%);
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'League Spartan';
}
.resetBtn{
    background-color: hsl(225, 21%, 49%);
    color: white;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    font-size: 30px;
    box-shadow: 0px 8px 6px hsl(224, 28%, 35%);
    font-family: 'League Spartan';
}

.equalBtn{
    background-color: hsl(6, 63%, 50%);
    color: white;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    box-shadow: 0px 8px 6px hsl(6, 70%, 34%);
    font-family: 'League Spartan';
}

.deleteBtn{
    background-color: hsl(225, 21%, 49%);
    color: white;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    box-shadow: 0px 8px 6px hsl(224, 28%, 35%);
    font-family: 'League Spartan';
}

@media only screen and (max-width: 600px) {
    body{
        width: auto;
        height: auto;
    }
    .top{
        width: auto;
        height: auto;
        margin-bottom: 50px;
    }
    .displayContent{
        height: auto;
        width: auto;
    }
    .digitBtn{
        height: 30px;
        width: 70px;
    }
    .deleteBtn{
        height: 30px;
        width: 70px;
    }
    .resetBtn{
        height: 30px;
        width: 150px;
    }.keypad{
        height: max-content;
        width: auto;
    }.equalBtn{
        height: 30px;
        width: 150px;
    }
    .radioButtons {
        position: absolute;
        left: 70%;
    }
}